@model eSanjeevaniIcu.Portal.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/sweet-alert.js"></script>
<link href="~/css/sweet-alert.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        document.getElementById("txtUserName").disabled = true;

        if ('@ViewBag.LoginMessage' == 'NotAuthenticated') {
                swal("Error", "Invalid current password", "error");
        }
        if ('@ViewBag.LoginMessage' == 'PasswordChanged') {
                swal("success", "Your password changed successfully !", "success");
                window.setTimeout(function () {
                    window.location.href = '@Url.Action("Logout","Home")';

                }, 4000);
            }
    });
</script>
<div class="PageBorder">
    <div class="row">
        <div class="col-md-12">
            <div class="table color-table PageTitle">
                Change Password
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="UserName" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">User Name</label>
                            <input asp-for="UserName" class="form-control" id="txtUserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Current Password</label>
                            <input type="password" maxlength="10" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">New Password</label>
                            <input type="password" maxlength="10" asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" maxlength="10" asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <input type="submit" value="Change Password" class="btn btn-primary" />
                            @*<a asp-action="Index" class="btn btn-primary">Back to List</a>*@
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>