@{
    ViewData["Title"] = "Home";
}

    <div class="PageBorder">
        <div class="row">
            <div class="col-md-12">
                <div class="table color-table PageTitle">
                    <div class="row">
                        <div class="col-md-12">
                            Coming Soon...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>