*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.txt

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.dgspec.json
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.g.props
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.g.targets
eSanjeevaniIcu.Data/obj/project.assets.json
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.dgspec.json
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.g.props
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.g.targets
eSanjeevaniIcu.Portal/obj/project.assets.json
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.dgspec.json
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.g.props
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.g.targets
eSanjeevaniIcu.Shared/obj/project.assets.json
# Visual Studio 2019
.vs/
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.dgspec.json
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.g.props
eSanjeevaniIcu.Data/obj/eSanjeevaniIcu.Data.csproj.nuget.g.targets
eSanjeevaniIcu.Data/obj/project.assets.json
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.dgspec.json
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.g.props
eSanjeevaniIcu.Portal/obj/eSanjeevaniIcu.Portal.csproj.nuget.g.targets
eSanjeevaniIcu.Portal/obj/project.assets.json
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.dgspec.json
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.g.props
eSanjeevaniIcu.Shared/obj/eSanjeevaniIcu.Shared.csproj.nuget.g.targets
eSanjeevaniIcu.Shared/obj/project.assets.json